html {
    background: #F7A8B8;
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
}

@font-face {
    font-family: Linotte;
    src: url(../assets/LinotteRegular.otf);
  }

a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

#chatbox {
    flex: 1;
    height: 53rem;
    margin-left: 0.3em;
    margin-right: -30%;
    margin-top: -8%;
    border: none;
}

.navigation-list {
    display: inline-flex;
    list-style-type: none;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 0;
    margin-left: 5%;
}

.buttons {
        width: 150px;
        background-color: #55CDFC;
        margin: auto;
        margin-bottom: 2%;
        display: inline-flex;
        justify-content: center;
        opacity: 0.8;
        font-size: larger;
        color: black;
        padding: 15px;
        border-bottom: solid;
        border-left: solid;
        border-color: lightblue;
        border-width: 2px;
}

body {
    margin-top: 3%;
}

form {
    width: 100%
}

.window {
    position: absolute;
    background-color: rgb(255, 199, 207);
    outline-style: solid;
    outline-width: 1px;
    outline-color: #281623;
    border-radius: 10px;
    width: 20%;
    text-align: center;
    overflow: hidden;
}
.window-header {
    margin: 0;
    cursor: move;
    width: 100%;
    height: 40px;
    display: block;
    background-color: #f7a8df;
    border-radius: 10px;
    text-align: left;
}
.window-drag-button {
    background-color: #f7a8df;
    border: none;
    color: black;
    font-size: 31px;
    cursor: pointer;
}
.window-drag-button-selected {
    background-color: #8e3b75;
}
.active-window {
    z-index: 1000;
}
:not(.active-window) {
    z-index: 0;
}
#errormessage {
    padding-top: 1%;
}

#logoutlink {
    display: block;
}

label {
    font-family: "Lucida Console", "Courier New", monospace;
}

input {
    padding: 3%;
    background-color: #EEEEEE;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 4px;
    font-family: "Lucida Console", "Courier New", monospace;
}

input:focus {
    outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}
