html {
    background: #F7A8B8;
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
}

body {
    margin-top: 3%;
}

form {
    width: 100%
}

.box {
    background-color: rgb(255, 199, 207);
    padding: 5%;
    box-shadow: 10px 10px 10px black;
    border-radius: 5px;
    display: inline-flex;
    width: 20%;
}

#errormessage {
    padding-top: 1%;
}

#logoutlink {
    display: block;
}

label {
    font-family: "Lucida Console", "Courier New", monospace;
}

input {
    padding: 3%;
    background-color: #55CDFC;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 1px;
    font-family: "Lucida Console", "Courier New", monospace;
}

input:focus {
    outline: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

input[type=number] {
  -moz-appearance: textfield;
}